*.aux
*.log
*.lof
*.lot
*.blg
*.asv
Dissertation/pgm_dissertation_chapter6_only.pdf
Dissertation/chapter6_grey_radtran/Dissertation_Data/Su_Olson/
Dissertation/chapter6_grey_radtran/Dissertation_Data/Su_Olson/
plot_paper_su_olson.pdf
Su_Olson_Base_SLXS_Lobatto_Tau_10_32_Angle.xml
wollaber.pdf